
.head{
    padding-left: 550px;
    padding-top: 200px;
}
.input-group{
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 30px;
}
.button{
    padding-left: 660px;
    padding-top: 30px;
}
.date-time{
    padding-left: 570px;
    padding-top: 30px;  
    font-size: 30px;
   
}
